<div class="container"><br><br>
    <img id="dod" src="https://media.istockphoto.com/photos/beautiful-indian-woman-picture-id1128255654?b=1&k=20&m=1128255654&s=170667a&w=0&h=ewlJaH6Rx-IQPx5EPiOMHdLDJ1jVZdJ1u3emWendnXs=">
<!-- <a href="http://https://media.istockphoto.com/photos/beautiful-indian-woman-picture-id1128255654?b=1&k=20&m=1128255654&s=170667a&w=0&h=ewlJaH6Rx-IQPx5EPiOMHdLDJ1jVZdJ1u3emWendnXs=" target="_blank" rel="noopener noreferrer"></a> -->
    <br><br><br><br><p id="para" style="font-family: cursive;color:black;">
        There is a popular quote about Passion "Passion is Energy. lity fabric attires embodied with exemplary craftsmanship. 
        "Daisy" which literally means "Possible", was started by Mrs.Lalitha Jeyananth because of her deep interest and unstinted love for fashion designing and her vision to break the popular sentiment that Designer Attire does not come at an affordable cost, she not only says but makes it Possible. 

Lalitha started her foray into fashion design by making kids wear right at home. 
What started as a pastime to help out friends and acquaintances by designing kid's clothes for special occasions became a serious pursuit.
 As word got around she started getting innumerable orders and she made them available at leading stores in the neighbourhood. 
 Lalitha also found that she was missing out on the one-to-one interaction with her customers and this thought laid the foundation for her first boutique in Tambaram in 2004 which has been pivotal to the growth of Sakyaa brand.

The boutique stocks not only an exciting range of women's wear but also accessories, jewellery and bags. 
Lalitha's latest venture is her foray into the digital world through this online shopping store where she desires to sell her products online for customers for whom access to the retail store might be difficult.....<mat-icon>favorite</mat-icon>
    </p>
</div>
