<div class="container2" style="color:black;font-weight:bold;">
<br><br><h1 id="reg" style="font-family: cursive;font-weight: bold; font-size: 37px;line-height: 51px">Choose Your Favourite Choice<br>From Our Catalogue....<mat-icon>favorite</mat-icon></h1>
<br>
<br>
<img id="img" style="width:430px; height:635px;" src="https://i.pinimg.com/736x/c8/cf/79/c8cf795ba9b1fc7ab4446add6a291efb.jpg">
<div id="not">
<h2 style=" margin-top: -50px;;font-family: monospace;font-weight: bold;word-spacing: 5px;font-style:italic;line-height: 43px;font-size: 25px;">KURTHIS FOR WOMENS<br>20%Offers On Kurthis <br>Till 27thMarch Hurry Up!!!</h2>
<a [routerLink]="'/kurthi'" ><button mat-raised-button>CLICK</button></a>
</div>
<img id="img1" style="width:470px; height:640px;" src="https://i.pinimg.com/originals/09/2d/92/092d92ee0464aacd45b6b1f9e5382cf9.jpg">
<div id="dot">
<h2 style=" margin-top: -50px;;font-family: monospace;font-weight: bold;word-spacing: 5px;font-style:italic;line-height: 43px;font-size: 25px;">WESTERN TOPS FOR WOMENS<br>10% Offers On Each Tops<br>Till 27thMarch Hurry Up!!!</h2>
<a [routerLink]="'/Western'" ><button mat-raised-button>CLICK</button></a>
</div>
<img id="img2" style="width:440px; height:660px;" src="https://images.pexels.com/photos/1620788/pexels-photo-1620788.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
<div id="bot">
<h2 style=" margin-top: -50px;;font-family: monospace;font-weight: bold;word-spacing: 5px;font-style:italic;line-height: 43px;font-size: 25px;">COLLECTIONS FOR KIDS<br>30% Offers On Kids Dresses <br>Till 27thMarch Hurry Up!!!</h2>
<a [routerLink]="'/kids'" ><button mat-raised-button>CLICK</button></a>
</div>
<img id="img3" style="width:470px; height:640px;" src="https://media.istockphoto.com/photos/man-in-tuxedo-looking-down-while-sitting-on-a-stool-picture-id532320055?k=20&m=532320055&s=612x612&w=0&h=DoYobBqdc3bxppIPpr6F7EmhjyOXhFQ1Mfl5DkmSTSg=">
<div id="hot">
<h2 style=" margin-top: -50px;;font-family: monospace;font-weight: bold;word-spacing: 5px;font-style:italic;line-height: 43px;font-size: 25px;">COLLECTIONS FOR MENS<br>25% Offers On Formals<br>Till 27thMarch Hurry Up!!!</h2>
<a [routerLink]="'/mens'" ><button mat-raised-button>CLICK</button></a>
</div>
<img id="img4" style="width:440px; height:660px;" src="https://i.pinimg.com/474x/41/13/87/411387f0683fbf44fe525efb9c66a407.jpg">
<div id="got">
<h2 style=" margin-top: -50px;;font-family: monospace;font-weight: bold;word-spacing: 5px;font-style:italic;line-height: 43px;font-size: 25px;">SAREES COLLECTIONS<br>150% Offers On Designer Sarees <br>Till 27thMarch Hurry Up!!!</h2>
<a [routerLink]="'/sarees'" ><button mat-raised-button>CLICK</button></a>
</div>
</div>