<section>
    <br><br><br><div class="container1">
        <h1 style="font-family: monospace;font-size: 40px;color:black;"> Get in Touch</h1><br><br>
        <p id="bob" style="font-family: cursive; color: black;font-size: 18px;">
         We'd consider it an honour to hear from you!<br><br>
 
 Drop us a mail at daisydooboutique@gmail.com or Whatsapp us on +916379683960<br><br>
 
 Retail Store: No. 527, Velachery Rd, East Tambaram, <br><br>near Shankara Vidyalaya School, Chennai, Tamil Nadu-600059<br><br>
 
 Ph.No: 044-22394499, 044-45572820
 </p><br><br>
 <img src="https://mt1.google.com/vt/lyrs=m&x=1480&y=949&z=11">
 </div>
 
         <div class="container">
         <h3 id="add1">FILL THE DETAILS</h3>
         <br>
         
         <mat-form-field appearance="fill">
             <mat-label>Enter Mail-Id</mat-label>
             <input id="mat" matInput placeholder="pat@example.com" >
             </mat-form-field><br><br>
             <mat-form-field appearance="fill">
             <mat-label>Password</mat-label>
             <input matInput placeholder="Password">
             </mat-form-field><br><br>
         <mat-form-field appearance="fill">
             <mat-label>Message</mat-label>
             <input id="mato" matInput placeholder="Write Your Message">
         </mat-form-field><br><br>
         <div class="btn">
            <button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar" style="color:white;">
               SEND
              </button>
            
       </div>   
     </div>
 
 </section>
