<div id="pop" class="container"><br><br><h1 id="own" Style="color:black;">Exchange Policy</h1>
<br><p id="try" Style="color:black;">If you are not satisfied with our product, please do contact us with your purchase details within 3 days of receiving your order.

The customer is eligible for EXCHANGE provided the product is unused and undamaged and with the price tag intact. We do not allow Refund or Cancellation of orders. We will offer store credit for the returned product which will be valid for a period of 2 months from the date of issue.

The product to be exchanged should reach us within 7 days.

We do not accept returns of products purchased from SALE section.<br><br>

Mail us on sakyaaboutique@gmail.com to initiate an exchange.<br><br>
We provide free shipping anywhere in India and the product will reach you within 7 to 10 working days after the order is received.<br><br>

Incase of express delivery please contact us or Whatsapp us.<br><br>

Kindly get in touch with us for International orders.<br><br><br><br><br>
<img id = "img1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlkKsEqlPs0xpeTjxxWBI-VnuCxlMiLU704g&usqp=CAU">
</p></div>

 
