<div class="container1 "  style="background-color:rgb(247, 247, 141) ;"><br><br><br>
    <h1  style="font-family: cursive;font-weight: bold;font-size: 35px;text-align: center;">Your Order....<mat-icon>favorite</mat-icon></h1>
<br><br><br><br><br>
    <div class="row">

        <div class="col-lg-6" *ngIf="sideData">
            
            <img id="gom" style="width:350px;height:550px;"  src="{{sideData[0].img}}"><br><br><br>
            <p class="hname"style="font-size:20px;letter-spacing:1px;word-spacing:6px;line-height:25px;">{{sideData[0].dressdetails}}</p>
            <p class="hname1"style="font-size:20px;letter-spacing:1px;word-spacing:6px;line-height:25px;">{{sideData[0].dressdetails2}}</p>
            <p class="hname2" style="font-size:20px;letter-spacing:1px;word-spacing:6px;line-height:25px;">{{sideData[0].dressdetails3}}</p>
            <p class="price" style="font-size:20px;letter-spacing:1px;word-spacing:6px;line-height:25px;">{{sideData[0].price |currency:'INR'}}</p>
            <a [routerLink]="'/kids'" ><button mat-raised-button>BACK</button></a>
        </div>

        <div id="toy" class="col-lg-6 col-12">
            <h1 class="details" style="font-family: monospace;font-weight: bold;font-size: 30px;">
                Enter Your Details</h1>
            <h3 class="details1"style="font-family: monospace;font-weight: bold;font-size: 25px;">FOR DELIVERY <i class="bi bi-truck"></i></h3><br>
            <form>

                <input style="width:430px;color: black;margin-left: 50px;" type="text" class="form-control" placeholder="Enter Your Full Name" />
                <br>
                <input style="width:430px;color: black;margin-left: 50px;"type="text" class="form-control" placeholder="Enter Your Mobile" />
                <br>
                <textarea style="width:430px;color: black;margin-left: 50px;" class="form-control" placeholder="Enter Your Address"></textarea>
                <br><br>
                <button mat-raised-button >Place Order</button>
                <br>
                <br><br>
                <button  mat-raised-button [routerLink]="['/addreview',sideData]" >ADD A REVIEW</button>
            </form>


        </div> 


    </div>

</div>
               


