<div class="container4">
    <br>
    <h1 style="color:black;font-family: cursive;font-weight: bold;font-size: 28px;text-align: center;">
        REVIEWS....<mat-icon>favorite</mat-icon></h1>
  <br><br> <p style="color:black;font-family: cursive;">
        
        From India<br>
<mat-icon>account_circle</mat-icon>Mayanka singh<br>
5.0 out of 5 stars Nice<br>
Reviewed in India on 20 April 2018<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase<br>
It's nice product..I'm very happy to find this...its light weight and comfortable...😊😊<br><br>

<mat-icon>account_circle</mat-icon>	Yuva kiran<br>
4.0 out of 5 stars nice fabric and design<br>
Reviewed in India on 10 February 2018<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase
ordered for my sister.<br>
Happy with the fabric, quality and design.
good product at good price.<br><br>


<mat-icon>account_circle</mat-icon>	Kindle Customer<br>
5.0 out of 5 stars Packing of amazon is very good, <br>as you open ths product you will get ...
Reviewed in India on 27 February 2018<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase<br>
Packing of amazon is very good, as you open ths product you will get on slip from amazon and then the product i.e.<br>dress if you like to wear thin cloths and a perfect fit i bought this for my mom and this fits perfectly best dress to wear in summers material also desrves 6 stars thankz amazon for this wonder full product👍<br><br>


<mat-icon>account_circle</mat-icon>	Amazon Customer<br>
3.0 out of 5 stars High price as quality<br>
Reviewed in India on 24 June 2019<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase<br>
As compared to price , quality is not ok upto the price. Dupatta has very poor quality,.
Size is less<br><br>

<mat-icon>account_circle</mat-icon>Ashwin Kumar<br>
1.0 out of 5 stars Quality to the price<br>
Reviewed in India on 12 November 2019<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase<br>
Quality of the item is too low, such items are available at 150 rs in the market. Please ensure quality to the price charged....😊😊<br><br>


<mat-icon>account_circle</mat-icon>	Serpentina<br>
5.0 out of 5 stars Awesome material<br>
Reviewed in India on 9 March 2018<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase<br>
The material is very nice and soft. Duppata quality is also nice. <br>I read the previous reviews and little bit worried. But the product is Fantastic.Reasonable price and good quality.
One person found this helpful<br><br>

<mat-icon>account_circle</mat-icon>Sukesh kapoor<br>
4.0 out of 5 stars Good material<br>
Reviewed in India on 11 October 2019<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase
A good buy .Nice cloth .reasonable price....😊😊<br><br>


<mat-icon>account_circle</mat-icon>	Raksha<br>
5.0 out of 5 stars Awesome!!<br>
Reviewed in India on 13 July 2021<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase
very nice<br><br>

<mat-icon>account_circle</mat-icon>	Hari Kriahnan<br>
3.0 out of 5 stars Three Stars<br>
Reviewed in India on 21 March 2018<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase
The quality of the fabric is good enough but the fabric is short
2 people found this helpful<br><br>

<mat-icon>account_circle</mat-icon>Subin.K<br>
5.0 out of 5 stars Nice product<br>
Reviewed in India on 12 October 2019<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase<br>
I received this items in good condition and the quality of the product is beyond my expectation . thank u amazon
One person found this helpful<br><br>
From India<br>
<mat-icon>account_circle</mat-icon>Mayanka singh<br>
5.0 out of 5 stars Nice<br>
Reviewed in India on 20 April 2018<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase<br>
It's nice product..I'm very happy to find this...its light weight and comfortable...😊😊<br>
From India<br><br>
<mat-icon>account_circle</mat-icon>Mayanka singh<br>
5.0 out of 5 stars Nice<br>
Reviewed in India on 20 April 2018<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase<br>
It's nice product..I'm very happy to find this...its light weight and comfortable...😊😊<br><br>

<mat-icon>account_circle</mat-icon>Subin.K<br>
5.0 out of 5 stars Nice product<br>
Reviewed in India on 12 October 2019<br>
Size: Free SizeColor Name: BlueDesign: BlueVerified Purchase<br>
I received this items in good condition and the quality of the product is beyond my expectation . thank u amazon
One person found this helpful<br><br>



    </p>
</div>
